body {
  color: $gray;
  background-color: $white;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65;
}

::selection {
  color: $white;
  background-color: darken($color-primary, 5);
  text-shadow: none;
}

:focus {
  outline: 0;
}

.mark,
mark {
  padding: 0 5px 4px;
  background-color: rgba($color-primary, .1);
}

/*------------------------------------------------------------------
 # preloader
-------------------------------------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 9999;
  height: 100%;
  width: 100%;
}

/*------------------------------------------------------------------
 # default styles
-------------------------------------------------------------------*/
.section {
  padding: 120px 0;

  &-sm {
    padding: 90px 0;
  }
}

.section-title {
  h1 {
    font-size: $h1-lg;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
    padding-top: 25px;

    @include desktop-xl {
      font-size: 42px;
    }

    @include tablet {
      font-size: 34px;
    }
  }
}


// social-links
.social-links {
  a {
    font-size: 18px;
    padding: 7px;
    color: rgba($black, .8);
    display: inline-block;

    &:hover {
      color: $color-primary;
    }
  }
  &.icon-box li a {
    height: 45px;
    width: 45px;
    line-height: 45px;
    border: 1px solid #ddd;
    padding: 0;
    @extend .rounded;
  }
}


// card style
.card.post-card {
  border-radius: 0px;
  border: 0;
  // height: 100%;

  .card-body {
    padding: 0;
    padding-top: 30px;
    margin-bottom: 70px;
  }
}

.post-title {
  font-weight: 800;
  color: $dark;
  display: inline-block;
}

a.post-title:hover,
.post-title:hover a {
  color: $color-primary;
}

.card-meta {
  font-weight: 500;

  > li {
    line-height: 1;
    vertical-align: middle;
  }

  .list-inline-item:not(:last-child) {
    margin-right: 1rem;
  }

  .card-meta-author {
    display: inline-block;

    &:hover {
      color: $color-primary;
    }

    img {
      border-radius: 50%;
      height: 26px;
      margin-right: 6px;
    }

    span {
      vertical-align: middle;
    }
  }

  .card-meta-tag {
    .list-inline-item:not(:last-child) {
      margin-right: .5rem;
    }

    a {
      color: $gray;

      &::before {
        content: "#";
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
}

// taxonomies-list
.taxonomies-list {
  li a:hover {
    background-color: $color-primary !important;
    color: $white;
  }
}


// content
.content {
  font-size: 17px;

  p {
    margin-bottom: 16px;
  }

  img {
    margin-bottom: 30px;
    @extend .rounded;
  }

  h2,
  h3,
  h4 {
    color: $dark;
    margin-bottom: 20px;
    font-weight: 700;
  }

  h3 {
    margin-top: 40px;
  }

  ol,
  ul {
    margin-bottom: 25px;
    padding-left: 0;

    li {
      margin-bottom: 10px;
    }
  }

  img {
    margin-top: 10px;
    margin-bottom: 35px;
  }

  blockquote {
    padding: 20px 30px;
    border-left: 6px solid $color-primary;
    color: $dark;
    font-weight: 700;
    font-size: 22px;
    margin: 30px 0;
    border-radius: 5px;

    p {
      margin-bottom: 0;
    }
  }
}

// content style
.content {

  * {
    word-break: break-word;
    overflow-wrap: break-word;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    color: $dark;
  }

  strong {
    font-weight: 800;
  }

  a {
    color: $gray;
    border-bottom: 1px dotted $color-primary;

    &:hover {
      color: $color-primary;
    }
  }
  a.collapse-head {
    border-bottom: 1px solid #dee2e6;
  }

  ol,
  ul {
    li {
      margin-bottom: 10px;
    }
  }

  ul {
    margin-bottom: 20px;
    list-style-type: none;

    li {
      padding-left: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $color-primary;
        left: 3px;
        top: 8px;
      }
    }

  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
  }

  table td,
  table th {
    padding: .75rem;
    vertical-align: top;
    margin-bottom: 0;
    border: 1px solid #e0e0e0;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
  }

  th {
    font-weight: 500;
  }

  thead {
    background: #efefef;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid #e0e0e0;
    }
  }

  tbody {
    background: lighten($color: #efefef, $amount: 5);
    margin-bottom: 0;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
  }

  .notices p {
    padding: 10px;
    margin-bottom: 0;
  }

  .notices p::before {
    position: absolute;
    top: 2px;
    color: $white;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    content: "\f05a";
    left: 10px;
  }

  .notices.note p {
    border-top: 30px solid #6ab0de;
    background: $light;
  }

  .notices.note p::after {
    content: 'Note';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.tip p {
    border-top: 30px solid #78C578;
    background: $light;
  }

  .notices.tip p::after {
    content: 'Tip';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 30px solid #F0B37E;
    background: #f7f7f7;
  }

  .notices.info p::after {
    content: 'Info';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.warning p {
    border-top: 30px solid #E06F6C;
    background: $light;
  }

  .notices.warning p::after {
    content: 'Warning';
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 10px;
    white-space: pre-wrap;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}

// code-tab
.code-tabs {
  border: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 20px;

  .nav-tabs {
    margin-bottom: 0;

    .nav-item {
      padding-left: 0;
      border-right: 1px solid #ddd;

      .nav-link {
        text-decoration: none;
        font-weight: 500;
        border: 0;
      }

      &::before {
        display: none;
      }

      &.active {
        background: $color-primary;

        .nav-link {
          color: $white;
        }
      }
    }
  }

  .tab-content {
    padding: 20px 15px;
  }
}

// pagination
.pagination {
  .page-link {
    padding: 0;
    margin-left: 0;
    color: $dark;
    border: 0;
    margin: 0 4px;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 700;

    &.active,
    &:focus,
    &:hover {
      box-shadow: none;
      color: $white;
      background-color: $color-primary;
    }

    &.arrow {
      font-size: 26px;
      width: auto;

      &:hover {
        color: $color-primary;
        background-color: $white;
      }
    }
  }

  .page-item.active {
    .page-link {
      box-shadow: none;
      color: $white;
      background-color: $color-primary;
    }
  }
}

// breadcrumb
.breadcrumb-menu {
  display: inline-block;
  padding-top: 18px;
  border-top: 1px solid $color-primary;
}


// form-control
.form-control {
  padding: 0;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 0 !important;
  height: 50px;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: 500;
  transition: .3s ease;

  &:focus {
    box-shadow: none;
    color: $dark;
    border-color: $color-primary;

    ~.input-group-append {
      .input-group-text {
        border-color: $color-primary;
      }
    }
  }
}

textarea {
  resize: none;
}

.input-group-text {
  background-color: transparent;
  border-bottom: 1px solid #999;
  border-radius: 0 !important;
  transition: .3s ease;

  .icon {
    font-size: 22px;
  }
}

button.input-group-text {
  &:hover {
    color: $color-primary;
  }
}

.custom-control-label {
  user-select: none;
  cursor: text;
  line-height: 1.45;

  &::before {
    cursor: pointer;
    border-radius: 0;
    box-shadow: none !important;
  }
}

.custom-checkbox {
  margin-top: 15px;

  .custom-control-label::before {
    border-radius: 0;
  }

  .custom-control-input:checked~.custom-control-label::before,
  .custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: transparent;
  }

  .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba($color-primary, .5);
    border-color: rgba($color-primary, .2);
  }
}

/*------------------------------------------------------------------
 # helper classes
-------------------------------------------------------------------*/
.font-primary {
  font-family: $font-primary
}

.rounded {
  border-radius: 10px !important;
  overflow: hidden;
}

.font-weight-500 {
  font-weight: 500
}

.font-weight-700 {
  font-weight: 700
}

.font-weight-800 {
  font-weight: 800
}

.font-weight-900 {
  font-weight: 900
}

.text-primary {
  color: $color-primary !important
}

a.text-primary:hover {
  color: darken($color-primary, 10) !important
}

.bg-primary {
  background-color: $color-primary !important
}

.text-dark {
  color: $dark
}

a.text-dark:hover {
  color: $color-primary !important
}

.bg-light {
  background-color: $light !important
}

.bg-dark {
  background-color: $dark !important
}

.text-gray:hover {
  color: $color-primary;
}

// footer
footer {
  background-color: $dark;
  .icon-box a {
    color: rgba($white, .7);
    &:hover {
      color: $white;
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }
}
.footer-menu {
  li a {
    color: rgba($white, .7);
    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}
.copyright-text {
  color: rgba($white, .7);
  a {
    color: rgba($white, .7);
  }
  font-size: 13px;
}