{{define "main"}}

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <form action="{{site.Params.contact_form_action}}">
          <div class="mb-4">
            <label for="name" class="form-label">Nome</label>
            <input type="email" class="form-control rounded" id="name" placeholder="Mario Rossi" required>
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control rounded" id="email" placeholder="mariorossi@onelesscar.it" required>
          </div>
          <div class="mb-4">
            <label for="subject" class="form-label">Oggetto</label>
            <input type="email" class="form-control rounded" id="subject" placeholder="Motivo della mail" required>
          </div>
          <div class="mb-4">
            <label for="message" class="form-label">Messagbio</label>
            <textarea class="form-control rounded" id="message" rows="4" placeholder="Il tuo messaggio" required></textarea>
          </div>

          <button type="submit" class="btn btn-primary rounded" aria-label="Send Message">Invia</button>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}